language: clojure
lein: lein
cache:
  directories:
    - $HOME/.m2
jdk:
  - oraclejdk8
  - oraclejdk9
  - oraclejdk11

before_script:
  - psql -c 'create database yetibot;' -U postgres

env:
  - YETIBOT_DB_URL="postgresql://postgres@localhost:5432/yetibot"

before_deploy:
  - lein deps # ensure npm deps are fetched
  - git status
    # clean up annoying package-lock.json changes
  - git reset --hard

deploy:
  provider: script
  script: lein release
  on:
    branch: master
    # ensure we only attempt to deploy once using jdk 11
    jdk: oraclejdk11

services:
  - postgresql
