# TODO move testing to GH Actions
language: clojure
lein: lein
cache:
  directories:
    - $HOME/.m2

jdk:
  # - oraclejdk8
  # - oraclejdk9
  - oraclejdk11

services:
  - postgresql

before_script:
  - psql -c 'create database yetibot;' -U postgres

git:
  depth: false

env:
  - YETIBOT_DB_URL="postgresql://postgres@localhost:5432/yetibot"

# run the tests and report the coverage to codecov.io
script:
  - CLOVERAGE_VERSION=1.1.1 lein with-profile +test cloverage --codecov --runner midje
  - bash <(curl -s https://codecov.io/bash)

# deploy is handled by GH Actions now
# deploy:
#   provider: script
#   # deploy is a single script to run - not an array of commands
#   script: lein release
#   # keep node_modules so it's included as a resource in the jar
#   skip_cleanup: true
#   on:
#     branch: master
#     # ensure we only attempt to deploy once using jdk 11
#     jdk: oraclejdk11
