{:objects {:adapter {:fields {:uuid {:type String}
                              :platform {:type String}}}

           :history {:fields
                     {:chat_source_adapter {:type String}
                      :chat_source_room {:type String}
                      :user_id {:type String}
                      :user_name {:type String}
                      :body {:type String}
                      :is_command {:type Boolean}
                      :is_yetibot {:type Boolean}
                      :id {:type Int}
                      :command {:type String}
                      :correlation_id {:type String}
                      :created_at {:type String}}}

           :stats {:fields
                   {:uptime {:type String}
                    :adapters {:type Int}
                    :users {:type Int}
                    :history_count {:type Int}
                    :history_count_today {:type Int}
                    :command_count_today {:type Int}
                    :command_count {:type Int}}}

           }

 :queries {:eval {:type (list String)
                  :args {:expr {:type String}}
                  :resolve :eval}

           :adapters {:type (list :adapter)
                      :resolve :adapters}

           :history {:type (list :history)
                     :resolve :history
                     :args {:limit {:type Int
                                    :default-value 20}
                            :offset {:type Int
                                     :default-value 0}
                            :chat_source_adapter {:type String}
                            :chat_source_room {:type String}}}

           :stats {:type :stats
                   :resolve :stats
                   :args {:timezone_offset_hours {:type Int
                                                  ;; default UTC
                                                  :default-value 0}
                          }}

           }}
