;; Sample of immutable Yetibot configuration.
;; This is equivalent to profiles.sample.clj.
;; Keys must not have "-" in them in order to remain compatible with multiple
;; forms of configuration.
{:yetibot
 {:features {:github {:user "", :token ""}},
  :wolfram {:appid ""},
  :github {:endpoint "", :org ["" ""], :token ""},
  :google {:api {:key ""}
           :custom {:search {:engine {:id ""}}}
           :options {:safe "high"}}
  :db {:url "postgresql://localhost:5432/yetibot"
       :table {:prefix "yetibot_"}},
  :twitter {:search {:lang "en"},
            :consumer {:secret "", :key ""},
            :secret "",
            :token ""},
  :mail {:from "", :bcc "", :host "", :user "", :pass ""},
  :jira {:default {:project {:key "Optional"}, :issue {:type {:id "3"}}},
         :user "",
         :projects [{:default {:version {:id "42"}}, :key "FOO"}],
         :subtask {:issue {:type {:id "27"}}},
         :domain "",
         :password ""},
  :adapters {:myteam {:type "slack",
                      :token "xoxb-111111111111111111111111111111111111"}
             :k8s {:type "slack",
                   :token "xoxb-9999999999999999"}
             :freenode {:type "irc",
                        :username "yetibot",
                        :host "chat.freenode.net",
                        :port "7070",
                        :ssl "true"}},
  :ssh {:groups
        [{:user "",
          :servers [{:host "", :name ""} {:host "", :name ""}],
          :key "path-to-key"}]},
  :url "http://localhost:3003",
  :ebay {:appid ""},
  :giphy {:key ""},
  :weather {:wunderground {:key "" :default {:zip ""}}},
  :command {:prefix "!"
            ;; Whether or not embedded commands should be globally available
            ;; (enabled by default)
            :embedded {:enabled "false"}}
  ;; the default command to fall back to if no other commands match
  :default {:command "giphy"}
  :jenkins {:cache {:ttl "3600000"},
            :default {:job ""}
            :instances
            [{:user "jenkins-user",
              :name "yetibot",
              :apikey "abc",
              :uri "http://yetibot/",
              :default {:job "default-job-name"}}
             {:name "yetibot.core"
              :uri "http://yetibot.core/"}]},
  :endpoint "http://my-yetibot.com",
  :log {:level "debug"},
  :s3 {:secret {:key ""},
       :access {:key ""}},
  :wordnik {:key ""},
  :imgflip {:username "", :password ""},
  :eval {:priv ["U123123" "~awesomeperson"]},
  :nrepl {:port ""}}}
