html { width: 100%; height: 100%; }
body {
  width: 100%;
  font-family: Helvetica, Arial;
  color: #333;
  margin: 20px 0;
  padding: 0;
}


/* HOME */

.animate {
  transition: all 1s linear .1s;
}


div.home {
  width: 600px;
  height: 600px;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  opacity: 0;
  /* border: 5px solid #ddd; */
  /* border-radius: 200px; */
  background: white;
  margin-top: -330px;
}


div.home a:hover {
  text-decoration: none;
}

div.home {
  opacity: 1;
}

.home a {
  border: 0;
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
}

img.yeti {
  position: relative;
  width: 100%;
  top: 20px;
}

h1 {
  margin-bottom: 8px;
}
p {
  margin: 0 0 10px 0;
  font-weight: 100;
  color: #666; }
